@charset "utf-8";
body{
    background-color: rgb(154, 154, 189);
    color: rgb(3, 23, 41);
    font: 18px Arial,Cursive, sans-serif;
    margin:0px;
    padding:0px;
    line-height: 2em;
}
.container{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin: auto;
    overflow: auto;
    
}
.btn{
    background-color: cadetblue;
    height: 10px;
    width: auto;
}

.people{
    background-color:transparent;
    float: left;
    width: 80%;
    margin-top: 15px;   
    border-radius: 4px;
}
.image {
    float: left;
    width: 20%;
    margin-top: 18px;
}
.ulist {
    float: left;
    width: 80%;
    box-sizing:border-box;
    margin-top: 8px;
    margin-left: 8px;
}